.team__container {
  background-color: whitesmoke;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team__card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 3.5rem;
}

.team__loop {
  max-width: 700px;
}

.team__loop h2 {
  color: var(--bg_secondary);
}

.team__loop h4 {
  color: rgb(83, 83, 177);
}

.team__img img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__card__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__wrapper h1 {
  color: rgb(83, 83, 177);
}
