@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --bg_main: #F40404;
  --bg_secondary: #FFB800;
  --text_color: #6C6C6C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 10px;
} */

body {
  font-family: "Poppins", sans-serif;
}

.mg_10 {
  margin: 0 10px;
}
