.nav__container {
    background: var(--bg_main);
    color: #fff;
    min-height: 13vh;
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 10px;
}

.nav__ul ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__ul ul li {
    width: 150px;
    font-weight: 500;
}

.nav__contact {
    border: 2px solid #fff;
    width: 90px !important;
    text-align: center;
    padding: 10px;
}
